<div class="container mt-5">
  <h1 class="alert alert-warning text-center">Pipes Intro</h1>
  <div class="row mt-5">

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h2>{{course.title | uppercase}}</h2>
      </div>
      <div class="card-body">
        <p>
          
          students:{{course.students | number}}
        </p>
        <p>
          rating:{{course.rating | number:'1.2-4'}}
        </p>
        <p>
          price:{{course.price| currency: 'INR'}}
        </p>
         <p>
          RealaseDate:{{course.relaseDate | date}}
        </p>
      </div>
    </div>
    
  </div>










    <div class="col-12 mt-5">

<p class="alert alert-info">

  {{title | uppercase}}
</p>
<p class="alert alert-info">

  {{title | lowercase}}
</p>

<p class="alert alert-info">

  {{title | titlecase}}
</p>



      </div>
  </div>
</div>