
<header class="bg-primary text-center p-2">
 <strong> <h3 class="text-white">Angular</h3></strong>
</header>

<div class="container mt-5">
  <div class="row">
    <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let skill of skills" class="list-group-item text-primary">I Like {{skill}}</li>
    </ul>
  </div>

   <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let flower of flowers" class="list-group-item text-success">I Like {{flower}}</li>
    </ul>
  </div>
  <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let fruit of fruits" class="list-group-item text-danger">I eat {{fruit}}</li>
    </ul>
  </div>
</div>
<div class="row mt-5">
 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let country of countries" class="list-group-item text-info">I wiil go to {{country}}</li>
    </ul>
  </div>

 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let movie of movies" class="list-group-item text-success">I will watch {{movie}}</li>
    </ul>
  </div>

 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let language of languages" class="list-group-item text-danger">I like {{language}}</li>
    </ul>
  </div>
</div>

<div class="row mt-5">
 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let city of cities" class="list-group-item text-info">I wiil go to {{city}}</li>
    </ul>
  </div>

 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let animal of animals" class="list-group-item text-success">I like {{animal}}</li>
    </ul>
  </div>

 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let day of days" class="list-group-item text-danger">{{day}}</li>
    </ul>
  </div>
</div>
<div class="row mt-5">
 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let tool of tools" class="list-group-item text-info">{{tool}}</li>
    </ul>
  </div>

 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let month of months" class="list-group-item text-success"> {{month}}</li>
    </ul>
  </div>

 <div class="col-4">    
    <ul class="list-group">
      <li
      *ngFor="let hobby of hobbies" class="list-group-item text-danger">{{hobby}}</li>
    </ul>
  </div>
</div>


</div>